<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio Artista</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="../static/img/logo.png" class="logo" alt="LogoArtista">
            </a>
            <div class="navbar-nav ms-auto">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="gallery.html">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tos">T.O.S.</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container main-content">
        <div class="row">
            <!-- Main Content -->
            <div class="col-lg-8">
                <div class="hero-section">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <div class="profile-icon">
                                <div>
                                    <img src="../static/img/icono.png" class="IconoArt" alt="">
                                    <hr style="margin: 0px 0;">
                                    <div><strong>mstry rain</strong></div>
                                    <div>Digital Illustrator</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="position-relative">
                                <!-- Carousel -->
                                <div id="artCarousel" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="ImgClass" src="../static/img/img1.png" class="d-block w-100" alt="Artwork 1">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="ImgClass" src="../static/img/img2.png" class="d-block w-100" alt="Artwork 2">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="ImgClass" src="../static/img/img3.png" class="d-block w-100" alt="Artwork 3">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#artCarousel" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon"></span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#artCarousel" data-bs-slide="next">
                                        <span class="carousel-control-next-icon"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="text-center">
                                <a href="gallery.html" class="btn gallery-button">Gallery</a>
                                <p class="mt-2 mb-0">
                            </div>      
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sidebar -->
            <div class="col-lg-4">
                <div class="sidebar">
                    <h5 class="mb-4">Inicio/Home</h5>
                    <div class="mb-4">
                        <div class="form-control bg-transparent text-white border-white" style="height: 120px; border-radius: 10px;">
                            Breve descripción del artista
                        </div>
                    </div>
                    
                    <div class="d-flex align-items-center position-relative">
                        <img src="../static/img/artistadoodle.png" class="doogle" alt="">
                        <div>
                            <span>Dibujo pequeño<br>del ilustrador</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <!-- Redes sociales -->
            <div class="social-row">
                <div class="social-item">
                    <i class="fab fa-instagram"></i>
                    <a href="https://instagram.com/mstry_rain" target="_blank">Instagram</a>
                </div>
                <div class="social-item">
                    <i class="fab fa-tiktok"></i>
                    <a href="https://tiktok.com/@mstry_rain" target="_blank">TikTok</a>
                </div>
                <div class="social-item">
                    <i class="fab fa-twitter"></i>
                    <a href="https://x.com/Mstry_Rain" target="_blank">Twitter</a>
                </div>
            </div>
            <!-- Derechos -->
            <div class="copyright">
                &copy; 2024 Nombre Artista. Todos los derechos reservados.
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/index.js"></script>
</body>
</html>